# Hugo
themes/
resources/
public/
hugo_stats.json

# Temporary lock file while building
.hugo_build.lock
.pnpm-store/

# Development packages
package-lock.json
node_modules/

# CI
.lighthouseci/

# General
.DS_Store