{{ define "main" }}
<main class="notes-page">
  <article class="container pb-5">
    <header class="row justify-content-center mb-4">
      <div class="col-lg-8">
        <div class="note-meta mb-2">
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</time>
        </div>
        <h1>{{ .Title }}</h1>
        {{ with .Description }}
        <p class="lead">{{ . }}</p>
        {{ end }}
        {{ partial "notes/taxonomy-badges.html" . }}
      </div>
    </header>

    <div class="row justify-content-center">
      <div class="col-lg-8 note-body">
        {{ .Content }}
      </div>
    </div>
  </article>
</main>
{{ end }}
