{{ define "main" }}
<main class="{{ .Kind }} overflow-auto">
  <section class="banner text-light bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 m-sm-auto p-4 text-left">
          <h1>404 Not Found</h1>
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
    <div class="banner-border">
      <svg id="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 32" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
      </svg>
    </div>
  </section>
</main>

{{ end }}