<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
  <svg class="navbar-toggler-icon" viewBox="0 0 30 30" preserveAspectRatio="none">
    <defs>
      <path id="hamburgerStroke" d="M4,15 H26 Z"></path>
    </defs>
    <g class="bar">
      <use xlink:href="#hamburgerStroke" x="0" y="-8"></use>
      <use xlink:href="#hamburgerStroke" x="0" y="0"></use>
      <use xlink:href="#hamburgerStroke" x="0" y="+8"></use>
    </g>
  </svg>
</button>
