<div class="collapse navbar-collapse" id="mainMenu">
  {{ $menu := site.Data.navigation.main }}
  <ul class="navbar-nav">
    {{ range $menu.primary }}
    <li class="nav-item">
      <a class='nav-link {{ if eq .id "home" }}active{{ end }}' href='{{ .url | relLangURL }}' title='{{ i18n .i18n_key }}' {{ if eq .id "home" }}aria-current="page"{{ end }}>{{ i18n .i18n_key }}</a>
    </li>
    {{ end }}
  </ul>
  <ul class="navbar-nav ms-auto">
    {{ range $menu.secondary }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .url }}" title='{{ i18n .i18n_key }}' {{ if .external }}target="_blank" rel="noopener"{{ end }}>
        {{ with .icon_class }}<span class="{{ . }}" aria-hidden="true"></span>{{ else }}{{ i18n .i18n_key }}{{ end }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
